.table-orders {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.table-orders,
.table-orders th,
.table-orders td {
  border: 1px solid #ddd;
}

.table-orders th,
.table-orders td {
  padding: 12px 15px;
  text-align: left;
}

.table-orders th {
  text-align: center;
  background-color: #f9f9f9;
  font-weight: bold;
  color: #555;
}

.table-orders tr:nth-child(even) {
  background-color: #f2f2f2;
}
