body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #003366;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  margin: 1%;
}

form {
  margin-top: 1%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #003366;
  box-shadow: 0 0 8px rgba(0, 51, 102, 0.2);
}

textarea {
  width: 100%;
  padding: 12px;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
}

textarea:focus {
  border-color: #003366;
  box-shadow: 0 0 8px rgba(0, 51, 102, 0.2);
}

input[type="submit"],
input[type="button"] {
  width: 100px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"] {
  background-color: #003366;
}

input[type="submit"]:hover {
  background-color: #11569c;
}

input[type="button"] {
  background-color: #f70707;
}

input[type="button"]:hover {
  background-color: #e76168;
}

.container {
  width: 45%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0.1, 0.1, 0.3);
}

.alert {
  padding: 10px;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto; /* Align the alert to the right */
  margin-right: 0;
}

.alert button.alert-close {
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.alert-success {
  background-color: #28a745; /* Green */
  color: white;
}

.alert-error {
  background-color: #dc3545; /* Red */
  color: white;
}

.alert-info {
  background-color: #17a2b8; /* Blue */
  color: white;
}

.alert-warning {
  background-color: #ffc107; /* Yellow */
  color: black;
}
.return-button{
  display: float;
  padding: 10px 20px;
  background-color: gray;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}